.gp-panel {
  position: relative;

  &.hoverable {
    transition: box-shadow 0.3s;
    cursor: pointer;
    &:hover {
      box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &.bordered {
    border: 1px solid var(--ui-borderColor);
  }

  .panel-title {
    position: relative;
  }
}
