@import './theme.light.less';
@import './theme.dark.less';

:root {
  --app-color-link: rgba(31, 136, 255, 0.8);
  --app-color-link-hover: rgb(58, 150, 254);
  --app-blur: 12px;
  --ac-color-background: rgba(var(--ac-color-background-rgb), 0.45);
  --app-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.1);

  --app-radius-sm: 4px;
  --app-radius-md: 8px;
  --app-radius-lg: 12px;

  --app-scrollbar-size: 11px;
  --app-scrollbar-thumb-bg: rgba(var(--ac-color-front-rgb), 0.25);
  --app-scrollbar-track-bg: rgba(var(--ac-color-front-rgb), 0.15);
  --app-scrollbar-thumb-hover-bg: rgba(var(--ac-color-front-rgb), 0.45);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  color: var(--ac-color-text-default);
  // background-color: transparent;
}

a {
  color: var(--app-color-link);
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: var(--app-color-link-hover);
  }
}

h1,
h2,
h3,
b,
strong {
  color: var(--ac-color-text-title);
}

html {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

button,
img,
.iconfont {
  user-select: none;
}

::-webkit-scrollbar {
  height: var(--app-scrollbar-size);
  width: var(--app-scrollbar-size);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid var(--app-scrollbar-track-bg);
  background-color: var(--app-scrollbar-thumb-bg);
}

::-webkit-scrollbar-track {
  // border-radius: 10px;
  background-color: var(--app-scrollbar-track-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--app-scrollbar-thumb-hover-bg);
}
