// @media (prefers-color-scheme: dark)

:root[data-theme='dark'] {
  // --ac-color-background: transparent;
  --ac-color-background: rgba(var(--ac-color-background-rgb), 0.45);
  --ac-color-front-rgb: 255, 255, 255;

  --ac-color-background-rgb: 46, 52, 64;
  --ac-color-text-title: #fff;
  --ac-color-text-default: rgba(255, 255, 255, 0.9);
  --ac-color-text-gray: rgba(255, 255, 255, 0.6);
  --ac-color-text-light: rgba(255, 255, 255, 0.4);

  --ac-color-border: rgba(255, 255, 255, 0.07);
  --ac-color-border-split: rgba(255, 255, 255, 0.05);
}
